/*

!.gitignore
!.zshrc
!.Xresources
!.imwheelrc
!.Brewfile

.config/*
!.config/
!.config/alacritty/
!.config/tmux/
!.config/git/
!.config/mpv/
.config/nvim/*
!.config/nvim/
!.config/nvim/init.vim

!.vimrc
.vim/*
!.vim/
!.vim/colors/
!.vim/undo/
!.vim/swap/
!.vim/backup/
