/*

!.gitignore
!.zshrc
!.Xresources
!.imwheelrc
!.Brewfile

.config/*
!.config/
.config/kitty/font.conf
!.config/kitty/
!.config/tmux/
!.config/git/
!.config/mpv/

!.vimrc
.vim/*
!.vim/
!.vim/colors/
!.vim/undo/
!.vim/swap/
!.vim/backup/
