/*

!.gitignore
!.zshrc
!.Xresources
!.imwheelrc
!.Brewfile

.config/*
!.config/
!.config/kitty/
!.config/tmux/
!.config/git/
!.config/mpv/

!.config/nvim/
.config/nvim/plugin/packer_compiled.lua

!.vimrc
.vim/*
!.vim/
!.vim/colors/
!.vim/undo/
!.vim/swap/
!.vim/backup/
